.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  height: 50px;
  justify-content: space-around;
}
.item {
  font-weight: 300px;
  font-family: 'Roboto';
}
.line {
  width: 90%;
}
.edit-delete-container {
  display: flex;
  align-items: center;
}
.delete {
  color: red;
}
.edit {
  color: gray;
}
