.admin-ui-item-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.item-container {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
}

.checkbox-element {
  margin-top: 5px;
}
.admin-item {
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-delete-container {
  margin-top: 30px;
  margin-left: 50px;
}
.delete {
  color: red;
}
.edit {
  color: gray;
}
